html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 1s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(245, 245, 245, 0.767);
    color: black;
    list-style: none;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

a:link,
a:visited,
a:hover,
a:active { 
    text-decoration: none; 
    font-family: 'Red Hat Display', sans-serif;
    color: inherit;
    font-size: 40px;
}

a:hover {
    color:#E27831;
    transition: all ease-out 1s;
}

.showMenu {
    transform: translateY(0);
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

h1 {
    font-size: clamp(2.5rem, 1.1045rem + 7.5672vw, 8rem);
    color: #E27831;
    text-shadow: 2px 2px #000000;
    font-family: 'CaslonCPswash', sans-serif;
    text-transform: uppercase;
}

.head {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.mainImage {
    width: 70%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 8%;
}

.title {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

main {
    margin-bottom: 100px;
}

h3 {
    font-size: clamp(2rem, 0.4776rem + 7.1642vw, 8rem);
    font-family: 'Comme', sans-serif;
    color: black;
    margin: 80px;
    text-align: center;
}

.shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.showOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid black;
    padding: 40px;
    width: 30rem;
}

.mediaSection {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

h4 {
    font-family: 'Comme', sans-serif;
    color: black;
    font-size: 20px;
    margin: 20px;
}

p {
    font-family: 'Comme', sans-serif;
    color: black;
    font-size: 18px;
}

.showButton {
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
}

.showButton:hover {
    background-color:#E27831;
    transition: all ease-out 1s;
}

.media {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px;
}

video {
    width: 100%;
    height: auto;
}

.vidOne {
    width: 40%;
}

.vidTwo {
    width: 40%;
}

.socialsAll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
}

.socialsGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 130px;
}

.icons {
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
    margin-top: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 1220px) {
    .title {
        padding-left: 30px;

    }
}

@media (max-width: 1000px) {
    .title {
        padding-left: 20px;

    }
}

@media (max-width: 860px) {
    .title {
        padding-left: 10px;
    }
}

@media (max-width: 730px) {
    h1 {
        writing-mode: sideways-rl;
    }
}

/* ABOUT STYLES */

h2 {
    font-size: clamp(2.5rem, 1.25rem + 4.1667vw, 5.625rem);
    font-family: 'CaslonCPswash', sans-serif;

}

.titleAbout {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}